* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cream: #f3eed9;
  --brown: #824936;
  --dark-green: #222c2a;
  --playfair: "Playfair Display", serif;
  --roboto: "Roboto", sans-serif;
}

.container {
  max-width: 1128px;
  /* border: 2px red solid; */
  margin: 0 auto;
  padding: 6em 5em;
}

.row {
  display: flex;
  gap: 4em;
  justify-content: center;
}

.col,
.first-img,
.second-img {
  width: 50%;
}

img {
  max-width: 100%;
}

/* formating */
header {
  background-color: var(--cream);
}
.first-box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.top-text {
  font-family: var(--roboto);
  font-weight: 300;
  letter-spacing: 0.5em;
  color: var(--dark-green);
}

.fbox-header {
  font-family: var(--playfair);
  font-size: 3.75rem;
  font-size: 900;
  color: var(--brown);
}

.top-text,
.fbox-header {
  max-width: 80%;
}

.sbox-header {
  font-family: var(--playfair);
  font-weight: 900;
  text-align: center;
}

.sbox-header,
.tbox-header,
.fobox-header {
  font-family: var(--playfair);
  font-size: 2.25rem;
  margin-bottom: 0.4em;
  color: var(--cream);
}

.sbox-header {
  color: var(--brown);
  margin-bottom: 0.8em;
}

p {
  font-family: var(--roboto);
  font-size: 1.3125rem;
  color: white;
}

.sp {
  color: var(--dark-green);
}

.second-box {
  margin-bottom: 3.5em;
  margin-top: 2em;
}

.third-box {
  background-color: var(--dark-green);
}

.fourth-box {
  background-color: var(--brown);
}
